<div class="span3">
    <div class="sidebar">
        <ul class="widget widget-menu unstyled">
            <li class="active"><a href="{{ path('dashboard') }}"><i class="menu-icon icon-dashboard"></i>Dashboard
                </a></li>
            <li><a href="{{ path('accidents_list') }}"><i class="fa fa-car" aria-hidden="true"></i></i>Les accidents </a>
            </li>
            <li><a href="{{ path('dossier_list') }}"><i class="menu-icon icon-inbox"></i>Les Dossiers <b class="label green pull-right">
                        11</b> </a></li>
            <li><a href="{{ path('users_list') }}"><i class="menu-icon icon-group"></i>Les utilisateurs <b class="label orange pull-right">
                        19</b> </a></li>
        </ul>
        <!--/.widget-nav-->



        <!--/.widget-nav-->
        <ul class="widget widget-menu unstyled">
            <li><a href="#togglePages"><i class="menu-icon icon-cog">
                    </i>
                    </i>Mon compte</a>
            </li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="menu-icon icon-signout"></i>Déconnexion </a></li>
        </ul>
    </div>
    <!--/.sidebar-->
</div>
<!--/.span3-->