{% extends 'FOSUserBundle::layout.html.twig' %}

{% block content %}
    <div class="row-fluid">
        <div class="span6">
            <div class="widget-box">
                <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
                    <h5>Info</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal" action="{{ path('add_user') }}" method="post">
                        <div class="control-group">
                            <label class="control-label">Nom</label>
                            <div class="controls">
                                {{ form_widget(form.nom, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Prénom</label>
                            <div class="controls">
                                {{ form_widget(form.prenom, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Téléphone</label>
                            <div class="controls">
                                {{ form_widget(form.phone, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Date naissance</label>
                            <div class="controls">
                                {{ form_widget(form.date_naissance, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Role</label>
                            <div class="controls">
                                {{ form_widget(form.roles, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                {{ form_widget(form.email, { 'attr': {'class': 'span11'} }) }}
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label">Mot de passe</label>
                            <div class="controls">
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'span11' }}) }}
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">Confirmer</label>
                            <div class="controls">
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'span11' }}) }}
                            </div>
                        </div>


                        <div class="form-actions">
                            {{ form_widget(form.submit,{'attr' : {'class' : 'btn btn-success'}})}}
                            <a href="{{ path('users_list')}}" class="btn btn-warning">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
{% endblock %}
