{% extends 'FOSUserBundle::layout.html.twig' %}

{% block content %}
    <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
            <h5>Liste des Utilisateurs</h5>
            <a href="{{ path('add_user') }}" class="btn btn-primary pull-right">Nouvel utilisateur</a><span class="label label-info">Featured</span> </div>
        <div class="widget-content nopadding">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom complet</th>
                        <th>Téléphone</th>
                        <th>Néé le</th>
                        <th>Email</th>
                        <th>Actif</th>
                        <th data-sortable="true">Crée le</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id}}</td>
                            <td>{{ user.nom ~ ' ' ~ user.prenom }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.dateNaissance is empty ? "--" : user.dateNaissance|date('m-d-Y') }}</td>

                            <td>{{ user.email }}</td>
                            <td><input type="checkbox" disabled="" checked="{{user.enabled}}"></td>
                            <td>{{ user.created|date("d-m-Y") }}</td>
                            <td>
                                {% if user.hasRole('ROLE_ADMIN')%}Assureur
                                {% elseif user.hasRole('ROLE_EXPERT')%}
                                    Expert
                                {% elseif user.hasRole('ROLE_CONSTATEUR')%}
                                    Constateur
                                {% elseif user.hasRole('ROLE_ASSISTANT')%}
                                    Assistant
                                {% elseif user.hasRole('ROLE_USER')%}
                                    Client
                                {% endif %}

                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs"href="{{ path('edit_user',{'id' : user.id})}}">
                                    <span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="btn btn-danger btn-xs"href="#">
                                    <span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
