{% extends 'FOSUserBundle::layout.html.twig' %}

{% block content %}

    <div class="span9" id="app">
        <div class="content">
            <div class="btn-controls">

                <div class="module">
                    <div class="module-head">
                        <h3>Liste des utilisateurs</h3>
                        <a class="btn btn-primary btn-sm pull-right" href="{{ path('add_user') }}">Nouvel
                            utilisateur</a>
                    </div>
                    <div class="module-body table">
                        {% if app.request.hasPreviousSession %}
                            {% for type, messages in app.session.flashbag.all() %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ type }}">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>{{ message }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                        {% endif %}


                        <table class="datatable-1 table table-bordered table-striped table-condensed table-responsive display">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nom complet</th>
                                <th>Téléphone</th>
                                <th>Néé le</th>
                                <th>Email</th>
                                <th>Actif</th>
                                <th data-sortable="true">Crée le</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in users %}
                                <tr>
                                    <td>{{ user.id }}</td>
                                    <td>{{ user.nom ~ ' ' ~ user.prenom }}</td>
                                    <td>{{ user.phone }}</td>
                                    <td>{{ user.dateNaissance is empty ? "--" : user.dateNaissance|date('m-d-Y') }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>
                                        {% if(user.enabled) %}
                                            <i class="fa fa-check-square" aria-hidden="true"></i>
                                            {% else %}
                                                <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ user.created|date("d-m-Y") }}</td>
                                    <td>
                                        {% if user.hasRole('ROLE_ADMIN') %}Assureur
                                        {% elseif user.hasRole('ROLE_EXPERT') %}
                                            Expert
                                        {% elseif user.hasRole('ROLE_CONSTATEUR') %}
                                            Constateur
                                        {% elseif user.hasRole('ROLE_ASSISTANT') %}
                                            Assistant
                                        {% elseif user.hasRole('ROLE_USER') %}
                                            Client
                                        {% endif %}

                                    </td>
                                    <td>
                                        <a class="btn btn-primary btn-xs"
                                           href="{{ path('edit_user',{'id' : user.id}) }}">
                                            <i class="icon-edit"></i></a>
                                        <a class="btn btn-success btn-xs" @click="getUserObjects({{ user.id }})">
                                            <i class="icon-search"></i></a>
                                        <a class="btn btn-danger btn-xs" href="{{ path('disable_user',{'id' : user.id}) }}">
                                            <i class="icon-remove"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="module">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#vehicules">Les vehicules</a></li>
                        <li><a data-toggle="tab" href="#permis">Les Permis</a></li>
                    </ul>
                    <div class="module-body">
                        <div class="tab-content">

                            <div id="vehicules" class="tab-pane fade in active">
                                <table class="table table-bordered table-striped display">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Matricule</th>
                                        <th>Marque</th>
                                        <th>Model</th>
                                        <th>Type</th>
                                        <th>Crée le</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="v in vehicules">
                                        <td>${ v.id }</td>
                                        <td>${ v.matricule }</td>
                                        <td>${ v.marque }</td>
                                        <td>${ v.modele }</td>
                                        <td>${ getVehiculeTypeById(v.typeId) }</td>
                                        <td>${ v.created|moment }</td>
                                    </tr>
                                    <tr v-if="empty">
                                        <td colspan="5"><p class="text-center">--------</p></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="permis" class="tab-pane fade">
                                <table class="table table-bordered table-striped display">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Numero de permis</th>
                                        <th>Catégorie</th>
                                        <th>Date delivre</th>
                                        <th>Prefecture</th>
                                        <th>Ajouté le</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="p in permis">
                                        <td>${ p.id }</td>
                                        <td>${ p.numPermis }</td>
                                        <td>${ p.categorie }</td>
                                        <td>${ p.dateDelivre|moment }</td>
                                        <td>${ p.prefecture }</td>
                                        <td>${ p.created|moment }</td>
                                    </tr>
                                    <tr v-if="empty">
                                        <td colspan="5"><p class="text-center">--------</p></td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

