{% extends "::base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.green.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
{% endblock stylesheets %}

{% block body %}
    {% block header %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="{{ path('dashboard') }}">Ensurance Admin</a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">

                        <ul class="nav pull-right">
                            <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="{{ asset('assets/images/user.png') }}" class="nav-avatar"/>
                                    <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Mon compte</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
    {% endblock header %}
    <div class="wrapper">
        <div class="container">
            <div class="row">
                {% block menu %}
                    {% include ':elements:menu.html.twig' %}
                {% endblock menu %}

                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </div>
    <!--/.wrapper-->
    <div class="footer">
        <div class="container">
            <b class="copyright">&copy; 2017 ensurance.site </b>All rights reserved.
        </div>
    </div>
{% endblock body %}
{% block javascripts %}
    <script src="{{ asset('assets/scripts/vue.js') }}"></script>
    <script src="{{ asset('assets/scripts/vue-resource.js') }}"></script>
    <script src="{{ asset('assets/scripts/vuejs/data.js') }}"></script>
    <script src="{{ asset('assets/scripts/owl.carousel.js') }}"></script>
    <script src="{{ asset('assets/scripts/moment.js') }}"></script>
    <script src="{{ asset('assets/scripts/datatables/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('assets/scripts/table.js') }}"></script>
    <script>


    </script>
{% endblock javascripts %}
