{% extends 'FOSUserBundle::layout.html.twig' %}
{% block content %}
    <div class="span9">
        <div class="content">
            <div class="btn-controls">
                <div class="btn-box-row row-fluid">
                    <a href="{{ path('accidents_list') }}" class="btn-box big span4"><i class="fa fa-car"></i><b>{{ accidentsCount }}</b>
                        <p class="text-muted">
                            Total des accidents</p>
                    </a><a href="{{ path('users_list') }}" class="btn-box big span4"><i class="icon-user"></i><b>{{ usersCount }}</b>
                        <p class="text-muted">
                            Total des utilisateurs</p>
                    </a><a href="{{ path('dossier_list') }}" class="btn-box big span4"><i class="icon-bullhorn"></i><b>{{ dossiersCount }}</b>
                        <p class="text-muted">
                            Total des dossiers</p>
                    </a>
                </div>
                <!--/#btn-controls-->
            </div>
        </div>
    </div>
{% endblock content %}